github "ddddxxx/LyricsProvider" == 0.4.2

github "ddddxxx/MusicPlayer" == 0.1.1

github "ddddxxx/GenericID" == 0.3.0

github "ddddxxx/Semver"

github "ddddxxx/SwiftyOpenCC"

github "SnapKit/SnapKit" ~> 4.0.0

github "shpakovski/MASShortcut"
