github "ddddxxx/LyricsProvider" "master"

github "ddddxxx/GenericID"

github "ddddxxx/Semver"

github "ddddxxx/SwiftyOpenCC"

github "SnapKit/SnapKit" ~> 3.1.2

github "shpakovski/MASShortcut"

github "SwiftyJSON/SwiftyJSON"

github "devxoul/Then"
