github "ddddxxx/LyricsProvider" == 0.4.3

github "ddddxxx/MusicPlayer" == 0.1.1

github "ddddxxx/GenericID" == 0.3.0

github "ddddxxx/Semver"

github "ddddxxx/SwiftyOpenCC"

github "ddddxxx/TouchBarHelper"

github "SnapKit/SnapKit"

github "shpakovski/MASShortcut"
