<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DesktopLyricsEnabled</key>
	<true/>
	<key>HideLyricsWhenMousePassingBy</key>
	<true/>
	<key>DisableLyricsWhenPaused</key>
	<true/>
	<key>DisableLyricsWhenSreenShot</key>
	<true/>
	<key>DesktopLyricsInsetBottomEnabled</key>
	<true/>
	<key>DesktopLyricsInsetBottom</key>
	<integer>20</integer>
	<key>DesktopLyricsEnableFurigana</key>
	<false/>
	<key>DesktopLyricsFontName</key>
	<string>Optima-Regular</string>
	<key>DesktopLyricsFontSize</key>
	<integer>24</integer>
	<key>LyricsWindowFontName</key>
	<string>Helvetica</string>
	<key>LyricsWindowFontSize</key>
	<string>13</string>
	<key>LyricsFilterEnabled</key>
	<true/>
	<key>LyricsSmartFilterEnabled</key>
	<true/>
	<key>LyricsFilterKeys</key>
	<array>
		<string>/(by|title|song|album|artist|singer|lyrics)\s*[:：∶]</string>
		<string>/\w+(\.\w+){2}</string>
		<string>/^\s*//\s*$</string>
		<string>/\d{8}</string>
		<string>/^\.$</string>
		<string>作詞</string>
		<string>作词</string>
		<string>作曲</string>
		<string>編曲</string>
		<string>编曲</string>
		<string>収録</string>
		<string>收录</string>
		<string>演唱</string>
		<string>歌手</string>
		<string>歌曲</string>
		<string>制作</string>
		<string>製作</string>
		<string>歌词</string>
		<string>歌詞</string>
		<string>翻譯</string>
		<string>翻译</string>
		<string>插曲</string>
		<string>插入歌</string>
		<string>主题歌</string>
		<string>主題歌</string>
		<string>片頭曲</string>
		<string>片头曲</string>
		<string>片尾曲</string>
		<string>SoundTrack</string>
		<string>アニメ</string>
	</array>
	<key>GlobalLyricsOffset</key>
	<integer>0</integer>
	<key>NSApplicationCrashOnExceptions</key>
	<true/>
</dict>
</plist>
