<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.assets.music.read-write</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.files.bookmarks.app-scope</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.scripting-targets</key>
	<dict>
		<key>com.apple.iTunes</key>
		<array>
            <string>com.apple.iTunes.library.read</string>
			<string>com.apple.iTunes.playback</string>
			<string>com.apple.iTunes.playerInfo</string>
		</array>
        <key>com.spotify.client</key>
        <array>
            <string>com.spotify.library</string>
            <string>com.spotify.playback</string>
        </array>
	</dict>
</dict>
</plist>
